<ion-view view-title="动态">
  <ion-content class="active">
    <ion-list>

    
   	 <div class="bar bar-header-darks item-input-inset">
	  <label class="item-input-wrapper">
	    <i class="icon ion-ios-search placeholder-icon"></i>
	    <input type="search" placeholder="搜索电影/音乐/商品...">
	  </label>
	</div>

	<div class="row">
	  <a class="tab-item">
	    <i class="icon ion-earth"></i>
	    好友动态
	  </a>
	  <a class="tab-item">
	    <i class="icon ion-ios-location"></i>
	    附近
	  </a>
	  <a class="tab-item">
	    <i class="icon ion-android-favorite"></i>
	    兴趣部落
	  </a>
	</div>

	

<div class="list">
	
	<div class="item item-divider"></div>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-ionic"></i>
    日迹
    <i class="icon ion-ios-arrow-forward"></i>
  </a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-eye"></i>
    看点
    <i class="icon ion-ios-arrow-forward"></i>
  </a>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-headphone"></i>
    音乐
    <i class="icon ion-ios-arrow-forward"></i>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon ion-person-stalker"></i>
    NOW直播
    <span class="badge badge-assertive">0</span>
  </a>

  <div class="item item-divider"></div>

  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-ios-navigate"></i>
    附近的群
    <i class="icon ion-ios-arrow-forward"></i>
  </a>

</div>





    </ion-list>
  </ion-content>
</ion-view>
