<ion-header-bar align-title="left" class="bar-dark">
	    <div class="h1 title">微信(16)</div>
	    <div class="buttons">
	        <button class="button no-animation button-icon icon ion-android-search">
	        </button>
	        <button class="button no-animation button-icon icon ion-android-add">
	        </button>
	    </div>
	</ion-header-bar>
<ion-view>
    <ion-content on-swipe-right="onSwipeRight()">
        <ion-list>


			<div class="list">
				
				<div class="item item-divider"></div>

			    <a class="item item-avatar" href="#">
			      <img src="img/pic4.jpg">
			      <h2>卢超</h2>
			      <p>微信号：luchaooo</p>
			      <i class="icon ion-ios-arrow-forward icon-img-right"></i>
			    </a>

			  <div class="item item-divider"></div>

			  <a class="item item-icon-left item-icon-right" id="icon-left" href="#">
			    <i class="icon ion-qr-scanner"></i>
			    收藏
			    <i class="icon ion-ios-arrow-forward"></i>
			  </a>
			  <a class="item item-icon-left item-icon-right" id="icon-left" href="#">
			    <i class="icon ion-bag"></i>
			    钱包
			    <i class="icon ion-ios-arrow-forward"></i>
			  </a>
			  <a class="item item-icon-left item-icon-right" id="icon-left" href="#">
			    <i class="icon ion-ios-game-controller-b"></i>
			    卡包
			    <i class="icon ion-ios-arrow-forward"></i>
			  </a>

			  <div class="item item-divider"></div>

			  <a class="item item-icon-left item-icon-right" id="icon-left" href="#">
			    <i class="icon ion-qr-scanner"></i>
			    表情
			    <i class="icon ion-ios-arrow-forward"></i>
			  </a>

			  <div class="item item-divider"></div>

			  <a class="item item-icon-left item-icon-right" id="icon-left" href="#">
			    <i class="icon ion-android-settings"></i>
			    设置
			    <i class="icon ion-ios-arrow-forward"></i>
			  </a>

			</div>

		    </ion-list>
    </ion-content>
</ion-view>
