<ion-header-bar align-title="left" class="bar-dark">
	    <div class="h1 title">微信(16)</div>
	    <div class="buttons">
	        <button class="button no-animation button-icon icon ion-android-search">
	        </button>
	        <button class="button no-animation button-icon icon ion-android-add">
	        </button>
	    </div>
	</ion-header-bar>
<ion-view on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
    <ion-content>
		    <ion-list>


			<div class="list">
				
				<div class="item item-divider"></div>

			  <a class="item item-icon-left item-icon-right" id="icon-left" href="#">
			    <i class="icon ion-aperture"></i>
			    朋友圈
			    <i class="icon ion-ios-arrow-forward"></i>
			  </a>

			  <div class="item item-divider"></div>

			  <a class="item item-icon-left item-icon-right" id="icon-left" href="#">
			    <i class="icon ion-qr-scanner"></i>
			    扫一扫
			    <i class="icon ion-ios-arrow-forward"></i>
			  </a>
			  <div class="item item-divider"></div>

			  <a class="item item-icon-left item-icon-right" id="icon-left" href="#">
			    <i class="icon ion-bag"></i>
			    购物
			    <i class="icon ion-ios-arrow-forward"></i>
			  </a>
			  <a class="item item-icon-left item-icon-right" id="icon-left" href="#">
			    <i class="icon ion-ios-game-controller-b"></i>
			    游戏
			    <i class="icon ion-ios-arrow-forward"></i>
			  </a>

			</div>





		    </ion-list>

		    </ion-content>
		</ion-view>
